.main {
  width: 100%;
  min-height: 100%;
  background-color: #eaeaff;
}
.tab {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.tab span {
  background: rgb(137, 145, 255);
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0px;
  border-radius: 20px;
  color: gray;
  border:1px solid;
  cursor: pointer;
}
.tabopen {
  background-color: #eaeaff;
  padding: 8px ;
  border-radius: 20px;
  color: black;
}
.section{
  width:100%;
  height:100%;
}
.content {
  width: 100%;
  min-height: 100%;
  padding: 5px;
}
.headers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.filters {
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-template-columns: repeat(6, minmax(0, 1fr));
  row-gap: 5px;
  column-gap: 10px;
  box-sizing: border-box;
}

.fields {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.fields label {
  font-size: 16px;
  font-weight: 500;
  text-wrap: nowrap;
}
.fields input {
  width: auto;
  height: auto;
  padding: 2px 5px;
}
.fields select {
  width: auto;
  height: auto;
  padding: 2px 5px;
}
.minorfields {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.minorfields label {
  font-size: 16px;
  font-weight: 500;
}
.checkbox-input {
  width: 50%;
  height: 50%;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 0px;
  z-index: 999;
  background-color: hsla(253, 100%, 50%, 0.2);
  padding: 5px;
}

.btn button {
  min-width: 50px;
  width: auto;
  border-radius: 0px;
  color: white;
  background-color: blue;
  padding: 3px;
}
.btn button:hover {
  background-color: rgba(0, 0, 255, 0.773);
}

.content-body {
  background-color: #eaeaff;
  width: 100%;
  height: 100%;
}
.tablediv {
  width: 100%;
  height: auto;
  padding: 5px;
  padding-bottom: 40px;
}
.table-heading {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-subheading {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
}
.pagebtn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.pagebtn button {
  width: auto;
  height: auto;
  border-radius: 0px;
  color: white;
  background-color: rgb(6, 73, 128);
  padding: 5px 10px;
}
.pagebtn button:hover {
  color: black;
  background-color: rgb(135, 198, 250);
}
.content {
  width: 100%;
  height: auto;
  overflow: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid;
  padding: 5px;
}
th {
  position: sticky;
  top: 0;
  background: white;
}
tr:nth-child(odd) {
  background-color: white;
}

.checkbox-input-table {
  width: 15px;
  height: 15px;
}
.closediv {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
  gap: 20px;
}
.custombtn {
  width: auto;
  border-radius: 0px;
  background-color: red;
  color: white;
}

.newtable {
  width: 100%;
  overflow: auto;
}
.dupTables {
  width: 100%;
  height: auto;
  max-height: 400px;
  margin: 20px 0;
  overflow: auto;
}
.threedbcol {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  margin: 20px 0px;
  height: 300px;
}
.tablethreedb {
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 5px;
  border: 2px solid;
}
.tablediv-header {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.norecord {
  width: 100%;
  height: 100%;
  text-align: center;
}
.norecord h1 {
  font-size: 36px;
}

.menu {
  display: none;
}

/* #moreFilter:hover {
  color: rgb(120, 121, 121);
  cursor: pointer;
}
.excelclosebtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 2px;
} */
.colorindicator {
  width: 100%;
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}
.colorindicator > p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-wrap: nowrap;
}
.colorindicator > p > span {
  display: flex;
  gap: 40px;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid;
}
.align {
  text-align: center;
}
.icon {
  font-size: 20px;
  cursor: pointer;
  color: red;
  stroke-width: 1;
}
.icon1 {
  font-size: 20px;
  cursor: pointer;
  color: red;
}

.requestlayer {
  display: flex;
  gap: 10px;
}
.requestlayer button {
  padding: 2px 5px;
  cursor: pointer;
}
.requestlayer button:hover:nth-child(1) {
  background-color: green;
  color: white;
}
.requestlayer button:hover:nth-child(2) {
  background-color: red;
  color: white;
}
.header {
  width: 100%;
  padding: 10px 5px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.header span {
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
  font-weight: 600;
  font-size: 14px;
}
.tablediv {
  flex: 1;
  overflow: auto;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  padding-top: 5px;
}
.btndiv {
  width: 100%;
  text-align: end;
  border-bottom: 2px dotted gray;
  padding: 10px;
}
.btndiv button {
  background-color: blueviolet;
  color: white;
  padding: 2px 5px;
  cursor: pointer;
}
.btndiv button:hover {
  background-color: rgb(255, 6, 6);
  color: white;
}

.nocontent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.assigndiv{
  width:auto;
  display:flex;
  /* gap:10px; */
  border-radius:5px;
  background-color:rgb(204, 203, 203);
  cursor:context-menu;
}
.assigndiv > span{
  padding:10px ;
  width:auto;
  min-width: 150px;
  /* background-color:rgb(255, 255, 255); */
  color:rgb(0, 0, 0);
  display:flex;
  align-items: center;
}
.popupdiv{
  width:100%;
  height: 100%;
  position: fixed;
  left:0;
  top:0;
  background-color: rgba(0, 0, 0, 0.295);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popupinner{
  width:80%;
  height:80%;
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  padding:20px;
}
.align-end{
  width: 100%;
    display: flex;
  align-items: center;
  justify-content: end;
}
.tablediv{
  width:100%; 
  height: 100%;
  overflow: auto;
  color:black;
}
.custombtn1 {
  width: 60px;
  padding: 5px;
  background-color: blueviolet;
  color: white;
}
@media screen and (max-width: 480px) {
  .filters {
    padding: 10px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 90%;
    height: 80%;
    transition: right 0.3s ease-in-out;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background-color: #bdbdf8;
    overflow: auto;
    z-index: 998;
  }
  .filters.open {
    right: 0;
  }
  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .menuicon {
    font-size: 36px;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
  }
  .fields {
    padding: 0px;
    gap: 0px;
    margin: 0;
    /* background-color: red; */
    flex: 0 0 auto;
  }
  .btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: flex-start;
    gap: 10px;
  }
  .btn button {
    /* width:fit-content; */
    padding: 0 5px;
    /* margin:auto; */
  }

  .table-subheading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .table-subheading h3 {
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    text-wrap: wrap;
  }
  .pagebtn {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: nowrap;
    gap: 5px;
    padding: 5px;
  }
  .pagebtn span {
    text-wrap: nowrap;
  }
  .pagebtn button {
    width: auto;
    height: auto;
    margin: 0;
    padding: 2px;
  }
  .table-content {
    width: 100%;
    height: 60vh;
    overflow: auto;
  }
  .threedbcol {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .tablediv-header {
    width: 100%;
    height: auto;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
  }
  .wrapper h2 {
    text-wrap: nowrap;
  }
}
.tablediv{
  width:100%; 
  height: 100%;
  overflow: auto;
  color:black;
  display:flex;
  flex-direction: column;
  gap:5px;
}