.main {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.33);
}

.overlay {
  width: 90%;
  background-color: rgb(255, 255, 255);
  height: 90%;
  padding: 10px;
  position: relative;
  border-radius: 10px;
}

.heading {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.card-heading {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
}

.content {
  width: 100%;
  height: 100%;
}
.contentup {
  width: 100%;
  height: 70%;
  display: flex;
  gap: 20px;
  margin-bottom: 5px;
}
.contentdown {
  width: 100%;
  height: 30%;
}
.card {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}
.regiondiv {
  width: 100%;
  height: 100%;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  background: #b5ffff;
  padding: 5px;
  font-size: 12px;
  border-radius: 10px;
}
.region {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2px;
  font-size: 14px;
  padding: 5px;
}
.regiontable td {
  font-size: 12px;
  padding: 2px;
}
.distnotify {
  /* position: absolute;
  top: -10px;
  right: -20px; */
  width: auto;
  height: auto;
  background-color: blue;
  border-radius: 10px;
  padding: 2px;
  color: white;
  font-size: 10px;
}
.districtRow {
  display: flex;
  flex-wrap: wrap; /* keeps inline but wraps if too long */
  gap: 8px; /* space between districts */
  align-items: center;
}
.districtCell {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  gap: 2px;
}
