.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.header span {
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
  font-weight: 600;
  font-size: 14px;
}
.tablediv {
  flex: 1;
  overflow: auto;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  padding-top: 5px;
}
.btndiv{
    width: 100%;
    text-align: end;
    border-bottom: 2px dotted gray;
    padding:10px;
}
.btndiv button{
    background-color: blueviolet;
    color:white;
    padding: 2px 5px;
    cursor:pointer;
}
.btndiv button:hover{
    background-color: rgb(255, 6, 6);
    color:white;
}
.align {
  text-align: center;
}
.icon{
  font-size: 18px;
  cursor: pointer;
  color:yellow;
  stroke-width: 10;
  stroke: black;
  
}
.icon1{
  font-size: 22px;
  cursor: pointer;
  color:blue;
  stroke-width: 10;
}
.icon1:hover{
  color:red;
}
.assigndiv{
  width:auto;
  display:flex;
  /* gap:10px; */
  border-radius:5px;
  background-color:rgb(204, 203, 203);
  cursor:context-menu;
}
.assigndiv > span{
  padding:10px ;
  width:auto;
  min-width: 150px;
  /* background-color:rgb(255, 255, 255); */
  color:rgb(0, 0, 0);
  display:flex;
  align-items: center;
}
.popupdiv{
  width:100%;
  height: 100%;
  position: fixed;
  left:0;
  top:0;
  background-color: rgba(0, 0, 0, 0.295);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popupinner{
  width:80%;
  height:80%;
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  padding:20px;
}
.align-end{
  width: 100%;
    display: flex;
  align-items: center;
  justify-content: end;
}
.tablediv{
  width:100%; 
  height: 100%;
  overflow: auto;
  color:black;
  display:flex;
  flex-direction: column;
  gap:5px;
}
.custombtn {
  width: 60px;
  padding: 5px;
  background-color: blueviolet;
  color: white;
}