.userassign-task-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userassign-task-main {
  width: 100%;
  padding: 20px;
  background-color: #bdbdf8;
}

.heading-div {
  display: flex;
  justify-content: center;
  gap:10px;
  align-items: center;
  justify-content: center;
}
.heading-div h3 {
  font-size: 16px;
}

.assign-file-div {
  width: 100%;
  display: flex;
  gap: 20px;
}
.assign-task-div {
  width: 100%;
}

.assign-task-item-div,
.request-item-div,
.product-item-div {
  width: 100%;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom:5px;
  /* overflow: auto; */
}
.assign-task-item {
  width: 80%;
  display: grid;
  grid-template-columns: 30% auto;
  margin: 2px;
  align-items: center;
  column-gap: 20px;
}
.userassigntask-input {
  width: 100%;
  text-align: center;
  padding:2px;
}
.align-input {
  text-align: left;
}
.request-item {
  width: 80%;
  display: grid;
  grid-template-columns: 30% 20% auto;
  column-gap: 20px;
  align-items: center;
  margin: 2px;
}

.product-item {
  width: 80%;
  display: grid;
  grid-template-columns: 30% auto auto;
  gap: 20px;
  box-sizing: border-box;
  margin: 2px;
}
.request-item h3,
.product-item h3 {
  text-align: center;
}
.add-icon {
  font-size: 20px;
  cursor: pointer;
}
.task-save-btn {
  margin-top: 5px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-save-btn span {
  display: flex;
  flex-direction: column;
}
.task-save-btn button {
  width: auto;
  padding: 2px 5px;
}

.remove-x {
  position: absolute;
  top: 50%;
  right: 3px;
  border-left: 2px solid;
  padding: 2px;
  transform: translateY(-50%);
  cursor: pointer;
}
.userHistory {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 999;
}
.userHistoryinner {
  width: 100%;
  height: auto;
  background-color: white;
  padding:10px;
}
.userHistoryinner > div {
  overflow: auto;
  width: 100%;
  height: auto;
  padding:10px;
}
.btndivH{
  width:100%;
  display: flex;
  justify-content: end;
}
.btndivH button{
  padding:2px 5px;
  background-color: red;
  color:white;
}
.header{
    width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
}
.tablediv{
  width:100%;
  max-height:90vh;
  overflow: auto;
}
.product-list-div{
  margin-top:10px;
}
