
.home {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  padding: 5px;
  background: hsl(0, 0%, 90%,0.6);
}
.icon {
  width: 30px;
  height: 20px;
  font-size: 36px; 
  cursor: pointer;
  transition: all 0.1s;
  color: #000;
}
.icon:hover{
  color: red;
  transform:scale(1.8)
}
.nodrag{
  user-select:none;
}
.formdiv{
  position:absolute;
  width:auto;
  height:auto;
  padding:10px;
  background-color: white;
  top:0px;
  top:-20px;
    /* transform: translateX(-50%) translateY(-10px); */
  left: 40px;
  border:1px solid;
  border-radius: 10px;;
  display:flex;
  flex-direction: column;
  gap:10px;

    /* hidden by default */
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  /* smooth animation */
  transition: all 0.3s ease;

}
#form{
  position:relative;
  /* background-color: red; */
  flex-wrap: nowrap;
  text-wrap:nowrap;
}

#form:hover .formdiv {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  
}
.formdiv a{
    text-decoration: none;
}
.formdiv a:hover{
    text-decoration: underline;
    color:inherit
}
