/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root{
    --primary: blue;
    --text:white;
    --bgcolor:#bdbdf8;

}

.icon-size{
    width: 24px;
    height:24px;
    color:red;
    cursor: pointer;
}
